<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/current_user.json.jbuilder", user: current_user).html_safe %>
    <% end %>
</script>

<script>
  window.sakura = "<%= asset_path('sakura.png')%>"
  window.logo = "<%= asset_path('shiba-gram.svg')%>"
</script>


<main id="root">
</main>
