// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {

  .background {
    background: #edc7cd;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .photo-container {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin: auto;
    width: 618px;
    margin-bottom: 100px;
    height: auto;
    background: white;
  }

  .photo-area {
    padding-left: 22px;
  }

  .photo {
    width: 616px;
    margin-left: 1px;
    height: auto;
  }

  .profile-name {
    color: #101010;
    font-weight: 1000;
    text-decoration: none;
    text-shadow: 0 0 1px #f9f2ec;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
  }

  .header {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    height: 58px;
  }

  .header span {
    display: inline-block;
    vertical-align: middle;
  }

  .profile-img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin: 12px 12px 12px 11px;
  }

  .icons {
    height: 45px;
    width: auto;
    margin-left: -2px;
    margin-top: -3px;
    margin-bottom: -6px;
  }

  .username {
    padding-left: 4px;
    padding-right: 6px;
    color: #101010;
    font-weight: 1000;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
  }

  .comment {
    margin: 6px;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    position: relative;
  }

  .content {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  .comment-dropdown {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    margin-right: 10px;
  }

  .comment-dropdown-contents {
    display: none;
    position: absolute;
    background-color: #fafafa;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .comment-dropdown-buttons {
    display: flex;
    flex-direction: column;
  }

  .comment-dropdown-buttons button {
    font-size: 11px;
    font-family: 'Geneva';
    border: none;
    border-radius: 2px;
    background: #fafafa;
    padding: 2px;
  }
  .comment-dropdown-buttons button:hover {
    background: #e6e6e6;
  }

  .comment-dropdown-buttons button:focus {
    outline: none;
    box-shadow: 1px 1px 3px #b3b3b3;
  }

  .comment-dropdown:hover .comment-dropdown-contents {
    display: block;
  }

  .comment-dropdown img {
    height: 14px;
    width: auto;
  }

  .comment-submit {
    display: none;
  }

  .comment-field {
    border: none;
    padding: 10px;
    font-size: 12px;
    font-family: 'Heebo', sans-serif;
    width: 580px;
    height: 27px;
  }

  .comment-field:focus {
    outline: none;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 15px 15px 0px 9px;
    padding: 0;
  }
}
