// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessions {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #466368;
    background: -webkit-linear-gradient(#e3a8b6, #fffbfc);
    background: -moz-linear-gradient(#e3a8b6, #fffbfc);
    background: linear-gradient(#e3a8b6, #fffbfc);
    position: relative;
  }

  .box {
    height: 700px;
    margin: 25px;
  }

  .text {
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin: 0 40px 10px;
    text-align: center;
    color: #999999;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 1px 1px 1px #f9f2ec;
  }

  .errors {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: red;
  }
  .txtField {
    width: auto;
    min-height: 30px;
    margin: 7px;
    justify-content: space-around;
    padding: 5px;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fafafa;
    font-size: 13px;
    font-family: 'Geneva';
  }

  .button {
    background: #5396e9;
    color: white;
  }

  .field {
    padding: 5%;
    border: 1px solid #a9a9a9;
    background: #fdfdfd;
    border-radius: 2px;
    box-sizing: border-box;
    height: auto;
    width: 350px;
  }

  .main {
    height: 600px;
    padding: 10%;
    margin: 33px 0px 20px 0px;
  }

  .sub {
    padding: 5%;
    line-height: 30px;
    text-align: center;
    font-family: 'Geneva';
  }

  .sub a {
    text-decoration: none;
    color: black;
  }

  .box img {
    width: auto;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .top {
    margin: 5px 5px 35px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 30%;
  }

  #sakura {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    max-width: 35%;
  }

  .session-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .fone {
    padding-top: 70px;
  }
}
