// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessions {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .box {
    width: 45%;
    margin: 5%;
    background-color: #f0f;
    height: 70%;
  }

  .field {
    margin: 5%;
    background-color: #0f0;
  }

  .main {
    height: 75%;
  }

  .sub {
    height: 10%;
  }
  .session-container {
    // display: flex;
    // flex-direction: column;
    // border: 1px solid black;
    // padding-top: 100px;
    // padding-bottom: 100px;
    // padding-right: 25px;
    // padding-left: 25px;
    // background-color: #ffe6f2;
    // width: 250px;
    // height: 530px;
  }

  .session-bar {
    // display: flex;
    // flex-direction: column;
    // background-color: #ffe6f2;
    // border: 1px solid black;
    // // width: 250px;
    // // height: 650px;
    // justify-content: space-between;
  }
  .session-input {
    // display: flex;
    // flex-direction: column;
    // padding: 10px;
    // margin: 50px;
  }

  .container img {
    width: auto;
    height: 630px;
  }
}
